@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:wght@400;500;600;700&family=Lexend+Deca:wght@100..900&family=Lobster&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,400;1,300&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,300;0,500;0,700;1,400&family=Space+Mono&display=swap');
body {
  font-family: "Google Sans", sans-serif;
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.members {
  .status-row {
    display: flex;
    align-items: center;
  }

  .status-indicator {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 10px;

    &.inactive {
      background: orange;
    }

    &.banned {
      background: red;
    }

    &.active {
      background: green;
    }
  }

  .members-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    button {
      margin-bottom: 20px;
    }
  }

  nav {
    margin-top: 20px;
  }

}
